<mat-form-field appearance="fill">
  <label>Categorías</label>
  <select matNativeControl required >
    <option value="panaderia">Panadería y bollería</option>
    <option value="higiene">Belleza e higiene</option>
    <option value="bebidas">Bebidas</option>
    <option value="frescos">Frescos</option>
    <option value="bio">Artículos bio</option>
    <option value="salsas">Salsas, arroz y pasta</option>
    <option value="conservas">Conservas</option>
    <option value="limpieza">Limpieza</option>
    <option value="lacteos">Leche y lácteos</option>
    <option value="cafechoco">Cafè y chocolates</option>
  </select>
</mat-form-field>
